In [1]:
import pandas as pd

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

In [5]:
df = pd.read_csv(file_name)

In [7]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,11552.000000,1.073700e+04,1.073000e+04,11427.000000,9083.000000,11255.000000
mean,12362.212517,7.499932e+05,1.313340e+05,42.051851,4.762829,30.772394
std,7271.939210,9.639522e+06,2.943245e+05,24.528561,4.548401,7.392780
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000
25%,6011.500000,2.500000e+04,2.672700e+04,40.000000,2.000000,25.000000
50%,12323.500000,6.500000e+04,5.774400e+04,40.000000,4.000000,29.000000
75%,18686.500000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000

In [6]:
print(df.duplicated().sum())

154

In [8]:
df.drop_duplicates(inplace = True)

In [9]:
print(df.duplicated().value_counts())

False    11398
dtype: int64

In [10]:
df.columns[df.isnull().any()]

Index(['OpenSource', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CompTotal', 'CompFreq', 'ConvertedComp',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [11]:
df['WorkLoc'].isna().sum()

32

In [12]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [13]:
majority = df['WorkLoc'].value_counts().idxmax()
print(majority)

Office

In [14]:
df['WorkLoc'].fillna('Office', inplace=True)

In [15]:
df['WorkLoc'].isna().sum()

0

In [16]:
df.CompFreq.value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

In [17]:
anncomp=[]
def NAC():
    for x,y in zip(df['CompFreq'], df['CompTotal']):
        if x=='Monthly':
            anncomp.append(y*12)
        elif x=='Weekly':
            anncomp.append(y*52)
        else:
            anncomp.append(y)
NAC()
          
df['NormalizedAnnualCompensation']=anncomp
df[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                           61000.0
1                          138000.0
2                           90000.0
3                          348000.0
4                           90000.0
...                             ...
11547                      130000.0
11548                       74400.0
11549                      105000.0
11550                       80000.0
11551                           NaN

[11398 rows x 1 columns]

In [18]:
df['EdLevel'].isna().sum()

112

In [19]:
df['Country'].isna().sum()

0

In [20]:
majority = df['Employment'].value_counts().idxmax()
print(majority)

Employed full-time

In [21]:
df['UndergradMajor'].isna().sum()

737

In [22]:
min = df['UndergradMajor'].value_counts().idxmax()
print(min)

Computer science, computer engineering, or software engineering

In [23]:
import pandas as pd

data = {
    "UndergradMajor": ["Computer Science", "Engineering", "Computer Science", "Mathematics", "Engineering"],
    "OtherColumn": [1, 2, 3, 4, 5] 
}
df = pd.DataFrame(data)

count_per_major = df.groupby("UndergradMajor").size()

min_count_category = count_per_major.idxmin()
min_count = count_per_major.min()

print(f"The category '{min_count_category}' has the minimum number of rows: {min_count}")

The category 'Mathematics' has the minimum number of rows: 1